<!--
* Vista create-prueba.component.html
*
* @author  Carlos Anchundia
* @date    08-05-2024
* @name    create-prueba.component.html
* @package presentation
* @subpackage prueba
-->

<div class="p-4 surface-200">
	<form autocomplete="off" [formGroup]="formPrueba" (ngSubmit)="savePrueba()">
		<div class="card card-custom">
			<div class="card-header card-header-custom">
				<h4>Formulario Prueba</h4>
			</div>
			<p-card>
				<p class="m-0">
					<small>Información general del Prueba. Los campos señalados con <strong>(*)</strong> son
						obligatorios.</small><br /><br />
				</p>
				<p-fieldset legend="Datos Generales">
					<div class="p-fluid formgrid grid">
						<div class="field col-12 md:col-6">
							<label for="nombre">Nombre</label>
							<input pInputText id="nombre" name="nombre" formControlName="nombre" class="p-inputtext-sm"
								[ngClass]="{'ng-invalid ng-dirty': _utilsService.isFieldInvalid('nombre',formPrueba)}"
								[pTooltip]="'Este es nombre'" tooltipPosition="top"
								(keypress)="this._validatorsService.validarAlfanumericos($event)" />
						</div>
						<div class="field col-12 md:col-6">
							<label for="lastname6">Lastname</label>
							<input id="lastname6" pInputText type="text" class="p-inputtext-sm">
						</div>
						<div class="field col-12 md:col-6">
							<label for="lastname6">Number</label>
							<p-inputNumber inputId="minmaxfraction" size="small" class="p-inputtext-sm" mode="decimal"
								[minFractionDigits]="2" [maxFractionDigits]="2" />
						</div>

						<div class="field col-12 md:col-6 ">
							<label for="lastname7">Calendar</label>
							<p-calendar id="lastname7" [showIcon]="true" class="p-inputtext-sm" dateFormat="dd/mm/yy" />
						</div>

						<div class="field col-12 md:col-6">
							<label for="address">Address</label>
							<textarea id="address" pInputTextarea type="text" rows="4" [pTooltip]="'Este es nombre'"
								tooltipPosition="top" class="p-inputtext-sm w-full"></textarea>
						</div>
						<div class="field col-12 md:col-6">
							<label for="address">inputSwitch</label>
							<p-inputSwitch class="p-2 w-full" />
						</div>
						<div class="field col-12">
							<label for="address">inputMask</label>
							<p-inputMask mask="99-999999" characterPattern="[0-9]" size="small" placeholder="99-999999"
								class="p-inputtext-sm p-2 w-full" />
						</div>
						<div class="field col-12 md:col-6">
							<label for="city">City</label>
							<input id="city" type="text"
								class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
						</div>
						<div class="field col-12 md:col-3">
							<label for="state">State</label>
							<p-dropdown class="small-dropdown" [options]="options" optionLabel="name"
								placeholder="Select a options" />
						</div>
						<div class="field col-12 md:col-3">
							<label for="state">State</label>
							<select id="state"
								class="w-full text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary"
								style="appearance: auto">
								<option>Arizona</option>
								<option>California</option>
								<option>Florida</option>
								<option>Ohio</option>
								<option>Washington</option>
							</select>
						</div>
						<div class="field col-12 md:col-3">
							<label for="zip">Zip</label>
							<input id="zip" type="text"
								class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
						</div>
						<div class="field col-12 md:col-3">
							<p-floatLabel>
								<input pInputText id="username" />
								<label for="username">Username</label>
							</p-floatLabel>
						</div>
						<div class="field col-12 md:col-3">
							<p-floatLabel>
								<textarea id="float-input" rows="5" cols="30" pInputTextarea></textarea>
								<label for="float-input">Summary</label>
							</p-floatLabel>
						</div>


					</div>
				</p-fieldset>
				<div class="flex align-items-center justify-content-end my-2">
					<p-button label="Cancelar" icon="pi pi-times" class="mr-2" size="small" severity="danger"
						(click)="cancelPrueba()" />
					<p-button label="Guardar" type="submit" icon="pi pi-save" class="mr-2" size="small"
						severity="primary" />
				</div>
			</p-card>

		</div>
	</form>
</div>