<form [formGroup]="form" (ngSubmit)="guardar()" class="form-container">
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>ID de Localización</mat-label>
    <input matInput formControlName="idLocalizacionPrueba">
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Estado de Localización</mat-label>
    <input matInput formControlName="estadoLocalizacionPrueba">

  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Nombre de Localización</mat-label>
    <input matInput formControlName="nombreLocalizacionPrueba">
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Fecha de Localización</mat-label>
    <input matInput type="datetime-local" formControlName="fechaLocalizacionPrueba">
  </mat-form-field>

  <mat-checkbox formControlName="isLocalizacionPrueba" class="full-width">¿Activo?</mat-checkbox>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Valor Entero</mat-label>
    <input matInput formControlName="enteroLocalizacionPrueba">
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Valor Decimal</mat-label>
    <input matInput formControlName="decimalLocalizacionPrueba">
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Descripción</mat-label>
    <textarea matInput formControlName="descripcionLocalizacionPrueba"></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Estado</mat-label>
    <input matInput formControlName="estadoLocalizacion">
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" class="full-width">Guardar</button>
</form>
