<div class="container mt-5">
  <form [formGroup]="formLocalizacionPrueba" (ngSubmit)="guardar()">
    <div class="card card-custom">
      <div class="card-header card-header-custom">
        <h4>Formulario Localización Prueba</h4>
      </div>
      <div class="card-body card-body-custom">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12 mt-2">
            <label for="nombreLocalizacionPrueba">Nombre</label>
            <input type="text" id="nombreLocalizacionPrueba" class="form-control"
              [ngClass]="{'is-invalid': _utilsService.isFieldInvalid('nombreLocalizacionPrueba',formLocalizacionPrueba)}"
              formControlName="nombreLocalizacionPrueba"
              [appTooltip]="_utilsService.getFieldErrorRequired('nombreLocalizacionPrueba',formLocalizacionPrueba)"
              [isTooltipEnabled]="_utilsService.isFieldInvalid('nombreLocalizacionPrueba',formLocalizacionPrueba)">
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12 mt-2">
            <label for="fechaLocalizacionPrueba">Fecha</label>
            <input type="date" id="fechaLocalizacionPrueba" class="form-control"
              [ngClass]="{'is-invalid': _utilsService.isFieldInvalid('fechaLocalizacionPrueba',formLocalizacionPrueba)}"
              formControlName="fechaLocalizacionPrueba"
              [appTooltip]="_utilsService.getFieldErrorRequired('fechaLocalizacionPrueba',formLocalizacionPrueba)"
              [isTooltipEnabled]="_utilsService.isFieldInvalid('fechaLocalizacionPrueba',formLocalizacionPrueba)">
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12 mt-2">
            <label class="form-check-label" for="isLocalizacionPrueba">Estado {{checkedIsLocalizacionPrueba}}</label>
            <div class="form-check form-switch form-switch-md">
              <input type="checkbox" id="isLocalizacionPrueba" class="form-check-input"
                [ngClass]="{'is-invalid': _utilsService.isFieldInvalid('isLocalizacionPrueba',formLocalizacionPrueba)}"
                formControlName="isLocalizacionPrueba" (click)="onChangeIsLocalizacionPrueba($event)"
                [appTooltip]="_utilsService.getFieldErrorRequired('isLocalizacionPrueba',formLocalizacionPrueba)"
                [isTooltipEnabled]="_utilsService.isFieldInvalid('isLocalizacionPrueba',formLocalizacionPrueba)">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12 mt-2">
            <label for="enteroLocalizacionPrueba">Entero</label>
            <input type="number" id="enteroLocalizacionPrueba" class="form-control"
              [ngClass]="{'is-invalid': _utilsService.isFieldInvalid('enteroLocalizacionPrueba',formLocalizacionPrueba)}"
              formControlName="enteroLocalizacionPrueba"
              [appTooltip]="_utilsService.getFieldErrorRequired('enteroLocalizacionPrueba',formLocalizacionPrueba)"
              [isTooltipEnabled]="_utilsService.isFieldInvalid('enteroLocalizacionPrueba',formLocalizacionPrueba)">
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12 mt-2">
            <label for="decimalLocalizacionPrueba">Decimal</label>
            <input type="number" step="0.01" id="decimalLocalizacionPrueba" class="form-control"
              [ngClass]="{'is-invalid': _utilsService.isFieldInvalid('decimalLocalizacionPrueba',formLocalizacionPrueba)}"
              formControlName="decimalLocalizacionPrueba"
              [appTooltip]="_utilsService.getFieldErrorRequired('decimalLocalizacionPrueba',formLocalizacionPrueba)"
              [isTooltipEnabled]="_utilsService.isFieldInvalid('decimalLocalizacionPrueba',formLocalizacionPrueba)">
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12 mt-2">
            <label for="descripcionLocalizacionPrueba">Descripción</label>
            <input type="text" id="descripcionLocalizacionPrueba" class="form-control"
              [ngClass]="{'is-invalid': _utilsService.isFieldInvalid('descripcionLocalizacionPrueba',formLocalizacionPrueba)}"
              formControlName="descripcionLocalizacionPrueba"
              [appTooltip]="_utilsService.getFieldErrorRequired('descripcionLocalizacionPrueba',formLocalizacionPrueba)"
              [isTooltipEnabled]="_utilsService.isFieldInvalid('descripcionLocalizacionPrueba',formLocalizacionPrueba)">
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12 mt-2">
            <label for="estadoLocalizacionPrueba">Estado Localizacion</label>
               <select id="estadoLocalizacionPrueba" class="form-select"
              [ngClass]="{'is-invalid': _utilsService.isFieldInvalid('estadoLocalizacionPrueba',formLocalizacionPrueba)}"
              formControlName="estadoLocalizacionPrueba"
              [appTooltip]="_utilsService.getFieldErrorRequired('estadoLocalizacionPrueba',formLocalizacionPrueba)"
              [isTooltipEnabled]="_utilsService.isFieldInvalid('estadoLocalizacionPrueba',formLocalizacionPrueba)">
              <option value="1">Activo</option>
              <option value="0">Inactivo</option>
            </select>
          </div>
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-2">
          <button class="btn btn-primary" type="submit"><i class="fa fa-save me-2"></i>Guardar </button>
        </div>
      </div>
    </div>
  </form>
