<!-- <div class="container mt-5">
  <form [formGroup]="form" (ngSubmit)="guardar()" class="form-container">
    <div class="card">
      <div class="card-header card-header-custom">
        <span>Username</span>
      </div>
      <div class="card-body card-body-custom">


        <mat-form-field appearance="outline"  class="full-width">
          <mat-label>ID de Localización</mat-label>
          <input matInput formControlName="idLocalizacionPrueba">
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Estado de Localización</mat-label>
          <input matInput formControlName="estadoLocalizacionPrueba">

        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Nombre de Localización</mat-label>
          <input matInput formControlName="nombreLocalizacionPrueba">
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Fecha de Localización</mat-label>
          <input matInput type="datetime-local" formControlName="fechaLocalizacionPrueba">
        </mat-form-field>

        <mat-checkbox formControlName="isLocalizacionPrueba" class="full-width">¿Activo?</mat-checkbox>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Valor Entero</mat-label>
          <input matInput formControlName="enteroLocalizacionPrueba">
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Valor Decimal</mat-label>
          <input matInput formControlName="decimalLocalizacionPrueba">
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Descripción</mat-label>
          <textarea matInput formControlName="descripcionLocalizacionPrueba"></textarea>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Estado</mat-label>
          <input matInput formControlName="estadoLocalizacion">
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" class="full-width">Guardar</button>
      </div>
    </div>

  </form>
</div> -->


<div class="container mt-5">

  <form [formGroup]="form" (ngSubmit)="guardar()">
    <div class="card card-custom">
      <div class="card-header card-header-custom">
        <h4>Formulario Localización Prueba</h4>
      </div>
      <div class="card-body card-body-custom">
        <div class="row">
                 <!-- [attr.title]="_utilService.isFieldInvalid('idLocalizacionPrueba') ? _utilService.getFieldError('idLocalizacionPrueba') : null" -->
          <!-- [attr.data-bs-toggle]="_utilService.isFieldInvalid('idLocalizacionPrueba') ? 'tooltip' : null" -->
          <!-- data-bs-toggle="tooltip"  -->


          <div class="col-lg-4 col-md-6 col-sm-12 mt-2">
            <label for="nombreLocalizacionPrueba">Nombre</label>
            <input type="text" id="nombreLocalizacionPrueba" class="form-control"
              [ngClass]="{'is-invalid': _utilService.isFieldInvalid('nombreLocalizacionPrueba',form)}"
              formControlName="nombreLocalizacionPrueba" [appTooltip]="_utilService.getFieldError('nombreLocalizacionPrueba',form)"
              [isTooltipEnabled]="_utilService.isFieldInvalid('nombreLocalizacionPrueba',form)">
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12 mt-2">
            <label for="fechaLocalizacionPrueba">Fecha</label>
            <input type="date" id="fechaLocalizacionPrueba" class="form-control"
              [ngClass]="{'is-invalid': _utilService.isFieldInvalid('fechaLocalizacionPrueba',form)}"
              formControlName="fechaLocalizacionPrueba" [appTooltip]="_utilService.getFieldError('fechaLocalizacionPrueba',form)"
              [isTooltipEnabled]="_utilService.isFieldInvalid('fechaLocalizacionPrueba',form)">
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12 mt-2">
            <label for="isLocalizacionPrueba">Is Localizacion</label>
            <input type="checkbox" id="isLocalizacionPrueba" class="form-check-input"
              [ngClass]="{'is-invalid': _utilService.isFieldInvalid('isLocalizacionPrueba',form)}" formControlName="isLocalizacionPrueba"
              [appTooltip]="_utilService.getFieldError('isLocalizacionPrueba',form)"
              [isTooltipEnabled]="_utilService.isFieldInvalid('isLocalizacionPrueba',form)">
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12 mt-2">
            <label for="enteroLocalizacionPrueba">Entero</label>
            <input type="number" id="enteroLocalizacionPrueba" class="form-control"
              [ngClass]="{'is-invalid': _utilService.isFieldInvalid('enteroLocalizacionPrueba',form)}"
              formControlName="enteroLocalizacionPrueba" [appTooltip]="_utilService.getFieldError('enteroLocalizacionPrueba',form)"
              [isTooltipEnabled]="_utilService.isFieldInvalid('enteroLocalizacionPrueba',form)">
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12 mt-2">
            <label for="decimalLocalizacionPrueba">Decimal</label>
            <input type="number" step="0.01" id="decimalLocalizacionPrueba" class="form-control"
              [ngClass]="{'is-invalid': _utilService.isFieldInvalid('decimalLocalizacionPrueba',form)}"
              formControlName="decimalLocalizacionPrueba" [appTooltip]="_utilService.getFieldError('decimalLocalizacionPrueba',form)"
              [isTooltipEnabled]="_utilService.isFieldInvalid('decimalLocalizacionPrueba',form)">
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12 mt-2">
            <label for="descripcionLocalizacionPrueba">Descripción</label>
            <input type="text" id="descripcionLocalizacionPrueba" class="form-control"
              [ngClass]="{'is-invalid': _utilService.isFieldInvalid('descripcionLocalizacionPrueba',form)}"
              formControlName="descripcionLocalizacionPrueba"
              [appTooltip]="_utilService.getFieldError('descripcionLocalizacionPrueba',form)"
              [isTooltipEnabled]="_utilService.isFieldInvalid('descripcionLocalizacionPrueba',form)">
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12 mt-2">
            <label for="estadoLocalizacionPrueba">Estado Localizacion</label>
            <input type="text" id="estadoLocalizacionPrueba" class="form-control"
              [ngClass]="{'is-invalid': _utilService.isFieldInvalid('estadoLocalizacionPrueba',form)}"
              formControlName="estadoLocalizacionPrueba" [appTooltip]="_utilService.getFieldError('estadoLocalizacionPrueba',form)"
              [isTooltipEnabled]="_utilService.isFieldInvalid('estadoLocalizacionPrueba',form)">
          </div>
          </div>

        <!-- <button type="submit" class="btn btn-primary">Guardar</button> -->

        <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-2">
          <!-- <button class="btn btn-primary me-md-2" type="button">Button</button> -->
          <button class="btn btn-primary" type="submit">Guardar</button>
        </div>
      </div>
    </div>
  </form>
