// .form-container {
//   display: flex;
//   flex-direction: column;
//   gap: 20px; // Espacio entre los campos del formulario
// }

// .full-width {
//   width: 100%;
// }

// .example-container mat-form-field + mat-form-field {
//   margin-left: 8px;
// }
// .card-body-custom mat-form-field + mat-form-field {
//   margin-left: 8px;
// }
.card-custom {
  border-top: 5px solid #005cbb;
}
.card-header-custom {
  background-color: #005cbb; /* Blue background color */
  color: white;
  // display: flex;
  // align-items: center;
  position: relative;
  padding: 15px 25px;
  margin-left: -5px; /* Extiende el margen hacia la izquierda */
  margin-right: -15px; /* Extiende el margen hacia la derecha */
  margin-top: 10px;
  border-radius: 0px;
}

// .card-header-custom img {
//   height: 30px;
//   margin-right: 10px;
// }

//.card-header-custom::before,
.card-header-custom::after {
  content: '';
  position: absolute;
  top: -25px;
  bottom: 0;
  width: 15px;
  background-color: #0e467d;
}

.card-header-custom::before {
  content: "";
    position: absolute;
    top: 59px;
    bottom: -25px;
    width: 5px;
    background-color: #bcc5ce;
}

.card-header-custom::before {
    left: 0px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 40%);
}

.card-header-custom::after {
  right: 0px;
  clip-path: polygon(0 30%, -100% 0, 100% 30%, 0% 30%);
}




// .is-invalid {
//   border-color: #dc3545;
// }

// .is-invalid:focus {
//   box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
// }
