<!--
* Vista create-prueba-uno.component.html
*
* @author  Carlos Anchundia
* @date    08-05-2024
* @name    create-prueba-uno.component.html
* @package presentation
* @subpackage prueba-uno
-->

<div class="p-4 surface-200">
	<form autocomplete="off" [formGroup]="formPruebaUno" (ngSubmit)="savePruebaUno()">
		<div class="card card-custom">
			<div class="card-header card-header-custom">
				<h4>Formulario PruebaUno</h4>
			</div>

			<p-card>
				<p class="m-0 mb-4">
					<small>Información general del PruebaUno. Los campos señalados con <strong>(*)</strong> son obligatorios.</small>
				</p>

				<p-fieldset legend="Datos Generales">
					<div class="p-fluid formgrid grid">

						<div class="field col-12 md:col-6">
							<label for="nombreUno"> nombreUno (*)</label>
							<input pInputText id="nombreUno" name="nombreUno" formControlName="nombreUno" class="p-inputtext-sm w-full"  
							[ngClass]="{'ng-invalid ng-dirty': _utilsService.isFieldInvalid('nombreUno',formPruebaUno)}"
							[pTooltip]="_utilsService.getFieldErrorRequired('nombreUno', formPruebaUno)" tooltipPosition="top"
							(keypress)="this._validatorsService.validarAlfanumericos($event)"  placeholder="" />
						</div>

						<div class="field col-12 md:col-6">
							<label for="fechaUno"> fechaUno (*)</label>
							<p-calendar id="fechaUno" name="fechaUno" formControlName="fechaUno" class="p-inputtext-sm" dateFormat="dd/mm/yy" 
							[ngClass]="{'ng-invalid ng-dirty': _utilsService.isFieldInvalid('fechaUno',formPruebaUno)}"
							[pTooltip]="_utilsService.getFieldErrorRequired('fechaUno', formPruebaUno)" placeholder="" />
						</div>

						<div class="field col-12 md:col-6">
							<label for="estadoUno"> estadoUno (*)</label>
							<p-inputSwitch id="estadoUno" name="estadoUno"
							[ngClass]="{'ng-dirty ng-invalid': _utilsService.isFieldInvalid('estadoUno',formPruebaUno)}"
							formControlName="estadoUno" (onChange)="onChangeEstadoUno($event)" 
							required="required"  
							[pTooltip]="_utilsService.getFieldErrorRequired('estadoUno', formPruebaUno)" tooltipPosition="top"/>
						</div>

						<div class="field col-12 md:col-6">
							<label for="enteroUno"> enteroUno (*)</label>
							<p-inputNumber id="enteroUno" name="enteroUno" formControlName="enteroUno" size="small" class="p-inputtext-sm "  
							[ngClass]="{'ng-invalid ng-dirty': _utilsService.isFieldInvalid('enteroUno',formPruebaUno)}"
							[pTooltip]="_utilsService.getFieldErrorRequired('enteroUno', formPruebaUno)" tooltipPosition="top"
							(keypress)="this._validatorsService.validarSoloNumeros($event)" 
							 placeholder="" />
						</div>

						<div class="field col-12 md:col-6">
							<label for="decimalUno"> decimalUno (*)</label>
							<p-inputNumber id="decimalUno" name="decimalUno" formControlName="decimalUno" size="small" class="p-inputtext-sm "  
							mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2" 
							[ngClass]="{'ng-invalid ng-dirty': _utilsService.isFieldInvalid('decimalUno',formPruebaUno)}"
							[pTooltip]="_utilsService.getFieldErrorRequired('decimalUno', formPruebaUno)" tooltipPosition="top"
							(keypress)="this._validatorsService.validarSoloDecimales($event)" 
							 placeholder="" />
						</div>

						<div class="field col-12 md:col-6">
							<label for="itemUno"> itemUno (*)</label>
							<p-dropdown id="itemUno" name="itemUno" class="small-dropdown" 
							[ngClass]="{'ng-invalid ng-dirty': _utilsService.isFieldInvalid('itemUno',formPruebaUno)}"
							formControlName="itemUno" placeholder="Select a options" 
							required="required"  
							[pTooltip]="_utilsService.getFieldErrorRequired('itemUno', formPruebaUno)"
							[options]="options" optionLabel="name" />
						</div>

						<div class="field col-12 md:col-6">
							<label for="nombreLargoUno"> nombreLargoUno</label>
							<textarea pInputTextarea id="nombreLargoUno" name="nombreLargoUno" formControlName="nombreLargoUno" class="p-inputtext-sm w-full"  
							[ngClass]="{'ng-invalid ng-dirty': _utilsService.isFieldInvalid('nombreLargoUno',formPruebaUno)}"
							[pTooltip]="_utilsService.getFieldErrorRequired('nombreLargoUno', formPruebaUno)" tooltipPosition="top"
							(keypress)="this._validatorsService.validarAlfanumericos($event)" 
							placeholder="" ></textarea>
						</div>

					</div>
				</p-fieldset>
				<div class="flex align-items-center justify-content-end my-2">
					<p-button label="Cancelar" type="button" icon="pi pi-times" class="mr-2" size="small" severity="danger" (click)="cancelPruebaUno()" />
					<p-button label="Guardar" type="submit" icon="pi pi-save" class="mr-2" size="small" severity="primary" />
				</div>
			</p-card>
		</div>
	</form>
</div>
