// :root{
// $table-bg-scale:              -80%;
// $primary: red;
// $table-variants: (
//   "primary":    shift-color($primary, $table-bg-scale),

// );
// }

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif
}

thead.table-primary th{
--bs-table-bg:var(--bs-blue);
--bs-table-color:var(--bs-white);
font-weight: 500;
}


